<div class='container'>
  <div class="row">
    <div class="col-12">
      <h2 class="my-5 offset-1">パン屋さん一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>店名</th>
            <th>住所</th>
            <th>説明</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <td></td>
            <td><%= shop.name %></td>
            <td><%= shop.area %></td>
            <td><%= shop.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
